<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'app.about.components.about.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <ion-card-content>
      <ion-card-title>{{'app.about.components.about.cardTitle' | translate}}</ion-card-title>
      <p>
        <ion-icon name="code"></ion-icon> <span>{{'app.about.components.about.version' | translate}}</span> {{version}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
