<ion-content padding="true"> 
	<ion-row>
		<h1>{{ 'app.demoA.components.pageA.title' | translate}}<a href="#" routerLink="/home" routerLinkActive="active">{{ 'app.demoA.components.pageA.goBack' | translate}}</a></h1>
		<p class="demo-a__page-a__paragraph">{{ 'app.demoA.components.pageA.gridOverview' | translate}} <a href="https://ionicframework.com/docs/theming/responsive-grid/#how-it-works">{{ 'app.demoA.components.pageA.gridOverviewLink' | translate}}</a></p>
	</ion-row>

	<ion-row>
		<h3>{{ 'app.demoA.components.pageA.basicsTitle' | translate}}</h3>
		<p class="demo-a__page-a__paragraph">{{ 'app.demoA.components.pageA.basicsDescr0' | translate}}<code>&lt;ion-grid&gt;</code>{{ 'app.demoA.components.pageA.basicsDescr1' | translate}}<code>&lt;div ion-row&gt;</code>{{ 'app.demoA.components.pageA.basicsDescr2' | translate}}</p>
	</ion-row>
	<ion-grid class="demo-a__page-a__demo-grid">
	  <ion-row>
	    <ion-col>
	      1 of 2
	    </ion-col>
	    <ion-col>
	      2 of 2
	    </ion-col>
	  </ion-row>
	  <ion-row>
	    <ion-col>
	      1 of 3
	    </ion-col>
	    <ion-col>
	      2 of 3
	    </ion-col>
	    <ion-col>
	      3 of 3
	    </ion-col>
	  </ion-row>
	</ion-grid>

	<ion-row>
		<h3>{{ 'app.demoA.components.pageA.widthsTitle' | translate}}</h3>
		<p class="demo-a__page-a__paragraph">{{ 'app.demoA.components.pageA.widthsDescr' | translate}}</p>
	</ion-row>
  <ion-grid class="demo-a__page-a__demo-grid">
    <ion-row>
      <ion-col>
        1 of 3
      </ion-col>
      <ion-col col-8>
        2 of 3 (wider)
      </ion-col>
      <ion-col>
        3 of 3
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        1 of 3
      </ion-col>
      <ion-col col-6>
        2 of 3 (wider)
      </ion-col>
      <ion-col>
        3 of 3
      </ion-col>
    </ion-row>
  </ion-grid>

	<ion-row>
		<h3>{{ 'app.demoA.components.pageA.breakpointsTitle' | translate}}</h3>
		<p class="demo-a__page-a__paragraph">{{ 'app.demoA.components.pageA.breakpointsDescr' | translate}}</p>
	</ion-row>
  <ion-grid class="demo-a__page-a__demo-grid">
    <ion-row>
      <ion-col col-12 col-sm-12 col-md>
        1 of 4
      </ion-col>
      <ion-col col-12 col-sm-12 col-md>
        2 of 4
      </ion-col>
      <ion-col col-12 col-sm-12 col-md>
        3 of 4
      </ion-col>
      <ion-col col-12 col-sm-12 col-md>
        4 of 4
      </ion-col>
    </ion-row>
  </ion-grid>

	<ion-row>
		<h3>{{ 'app.demoA.components.pageA.hAlignmentsTitle' | translate}}</h3>
		<p class="demo-a__page-a__paragraph">{{ 'app.demoA.components.pageA.hAlignmentsDescr0' | translate}}<a href="https://ionicframework.com/docs/theming/responsive-grid/#row-attributes">{{ 'app.demoA.components.pageA.hAlignmentsDescr1' | translate}}</a></p>
	</ion-row>
  <ion-grid class="demo-a__page-a__demo-grid">
    <ion-row justify-content-start>
      <ion-col col-3>
        1 of 2
      </ion-col>
      <ion-col col-3>
        2 of 2
      </ion-col>
    </ion-row>

    <ion-row justify-content-center>
      <ion-col col-3>
        1 of 2
      </ion-col>
      <ion-col col-3>
        2 of 2
      </ion-col>
    </ion-row>

    <ion-row justify-content-end>
      <ion-col col-3>
        1 of 2
      </ion-col>
      <ion-col col-3>
        2 of 2
      </ion-col>
    </ion-row>

    <ion-row justify-content-around>
      <ion-col col-3>
        1 of 2
      </ion-col>
      <ion-col col-3>
        2 of 2
      </ion-col>
    </ion-row>

    <ion-row justify-content-between>
      <ion-col col-3>
        1 of 2
      </ion-col>
      <ion-col col-3>
        2 of 2
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content> 
  