.demo-a__page-a__demo-grid {
	margin-bottom: 20px;

	ion-col {
		background-color: #f0f5ff;
    	border: 1px solid #e6e9ee;
	}
}

.demo-a__page-a__paragraph {
	code {
		padding: 2px 4px;
	    font-size: 90%;
	    color: #4D8CF4;
	    background-color: whitesmoke;
	    border-radius: 4px;
	}
}