<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate>Home</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
    <ion-card-content>
      <ion-card-title>
        <span translate>Hello world !</span>
      </ion-card-title>
      <p>
        this is a paragraph
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card text-center *ngFor="let joke of jokes" (click)="saveJoke(joke)">
    <ion-card-content>
      <p>
        <q>{{joke.value}}</q>
      </p>      
    </ion-card-content>    
  </ion-card>
  <app-loader [isLoading]="isLoading"></app-loader>
  <ion-infinite-scroll id="infinite-scroll" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content id="scroll-content"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
